/* ex: set tabstop=4 expandtab: */
%html
    %head
        %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
        %script(src="/qunit-git.js")
        %script(src="/async.min.js")
        %script(src="/run-tests.js")
        %link(rel="stylesheet" href="/qunit-git.css")
    %body
        %h1(id="qunit-header")="Powered by QUnit"
        %h2(id="qunit-banner")
        %div(id="qunit-testrunner-toolbar")
        %h2(id="qunit-userAgent")
        %ol(id="qunit-tests")
        %div(id="qunit-fixture")="test markup, will be hidden"
